@import url("https://fonts.googleapis.com/css2?family=Italianno&family=Raleway:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Caveat&family=Croissant+One&family=Dancing+Script&family=Devonshire&family=Kaushan+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap");
@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}
@keyframes visibility {
  0% {
    opacity: 1;
  }
  65% {
    opacity: 1;
  }
  66% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
.dot2 {
  animation: visibility2 3s linear infinite;
}

@keyframes visibility2 {
  0% {
    opacity: 0;
  }
  21% {
    opacity: 0;
  }
  22% {
    opacity: 1;
  }
  65% {
    opacity: 1;
  }
  66% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes visibility3 {
  0% {
    opacity: 0;
  }
  43% {
    opacity: 0;
  }
  44% {
    opacity: 1;
  }
  65% {
    opacity: 1;
  }
  66% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
.bloc_page {
  width: 700px;
  margin: auto;
}

.bloc_page {
  font-family: "Raleway", sans-serif;
}

.pied-page {
  font-family: "Raleway", sans-serif;
  color: #fdcb46;
  font-size: 2rem;
  font-weight: 100;
  line-height: 1.7;
}

.haut-page__titre a,
h1 {
  font-size: 2rem;
  font-weight: bold;
  text-decoration: none;
  color: #fdcb46;
}

.button {
  font-family: "Raleway", sans-serif;
  font-weight: 900;
  font-style: italic;
  font-size: 2rem;
}

.pied-page {
  font-size: 1.5rem;
}

.container__menu--1 p {
  font-family: "Devonshire", cursive;
  font-size: 2rem;
}
.container__menu--1 p span {
  font-family: "Caveat", cursive;
  font-size: 2rem;
}
.container__menu--2 p {
  font-family: "Croissant One", cursive;
  font-size: 1rem;
}
.container__menu--2 p span {
  font-family: "Roboto Slab", serif;
  font-size: 2rem;
}
.container__menu--3 p {
  font-family: "Dancing Script", cursive;
  font-size: 1.5rem;
}
.container__menu--3 p span {
  font-family: "Caveat", cursive;
  font-size: 2rem;
}
.container__menu--4 p {
  font-family: "Kaushan Script", cursive;
  font-size: 1.5rem;
}
.container__menu--4 p span {
  font-family: "Caveat", cursive;
  font-size: 2rem;
}

.mentions-legales h5 {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
}

.mentions-legales p {
  font-size: 1rem;
  text-align: justify;
}

.container__restaurant--1 {
  font-family: "Devonshire", cursive;
  font-size: 20px;
}
.container__restaurant--2 {
  font-family: "Croissant One", cursive;
  font-size: 12px;
}
.container__restaurant--2 .contenumenu--1 {
  color: #c67413;
}
.container__restaurant--2 .contenumenu--2 {
  color: #a56799;
}
.container__restaurant--2 .contenumenu--3 {
  color: #6e4ccc;
}
.container__restaurant--2 h2 {
  background: #ff9900;
  background: -moz-linear-gradient(left, #ec8d1f, #5a01ff);
  background: -webkit-linear-gradient(left, #ec8d1f, #5a01ff);
  background: linear-gradient(to right, #ec8d1f, #5a01ff);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#ff9900", endColorstr="#7d5ea3",GradientType=1 );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.container__restaurant--3 {
  font-family: "Dancing Script", cursive;
  font-size: 20px;
}
.container__restaurant--3 h2 {
  background: #00b7ea;
  background: -moz-linear-gradient(left, #0004ff, #297cf8);
  background: -webkit-linear-gradient(left, #0004ff, #297cf8);
  background: linear-gradient(to right, #0004ff, #297cf8);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#ff9900", endColorstr="#7d5ea3",GradientType=1 );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.container__restaurant--4 {
  font-family: "Kaushan Script", cursive;
  font-size: 15px;
}
.container__restaurant--4 h2 {
  background: #1eb500;
  background: -moz-linear-gradient(left, #46dd00, #96dfac);
  background: -webkit-linear-gradient(left, #46dd00, #96dfac);
  background: linear-gradient(to right, #46dd00, #96dfac);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#ff9900", endColorstr="#7d5ea3",GradientType=1 );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 40px;
  margin-bottom: 100px;
}
.button .button__prochainement {
  width: 300px;
  line-height: 50px;
  text-align: center;
  vertical-align: middle;
  border-radius: 8px;
  background-color: #579c87;
  text-decoration: none;
  color: #fdcb46;
}
.button .dot1 {
  animation: visibility 3s linear infinite;
}
.button .dot2 {
  animation: visibility2 3s linear infinite;
}
.button .dot3 {
  animation: visibility3 3s linear infinite;
}

.haut-page {
  padding: 20px;
  background-color: #579c87;
  margin-bottom: 30px;
}
.haut-page__titre {
  text-align: center;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.container__menu {
  overflow: hidden;
  position: relative;
}
.container__menu * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.container__menu p {
  max-width: 100%;
  transition: all 0.8s;
}
.container__menu:hover p {
  transform: scale(1.3);
}
.container__menu {
  width: 250px;
  text-align: center;
  height: 350px;
  margin: 15px;
  box-shadow: 2px 2px 10px gray;
}
.container__menu p {
  margin-top: 50%;
}
.container__menu a {
  text-decoration: none;
}
.container__menu--1 {
  background-color: #fcdfdb;
  font-family: "Indie Flower", cursive;
}
.container__menu--1 p {
  color: black;
  margin-top: 25%;
}
.container__menu--1 img {
  width: 25%;
}
.container__menu--2 {
  background-color: #fff5fe;
  font-family: "Amiri", serif;
}
.container__menu--2 p {
  background: #ff9900;
  background: -moz-linear-gradient(left, #ec8d1f, #5a01ff);
  background: -webkit-linear-gradient(left, #ec8d1f, #5a01ff);
  background: linear-gradient(to right, #ec8d1f, #5a01ff);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#ff9900", endColorstr="#7d5ea3",GradientType=1 );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.container__menu--3 {
  background-color: #f9f9f9;
  font-family: "Italianno", cursive;
}
.container__menu--3 p {
  background: #00b7ea;
  background: -moz-linear-gradient(left, #0004ff, #297cf8);
  background: -webkit-linear-gradient(left, #0004ff, #297cf8);
  background: linear-gradient(to right, #0004ff, #297cf8);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#ff9900", endColorstr="#7d5ea3",GradientType=1 );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.container__menu--4 {
  background-color: #fdfffd;
  font-family: "Caveat", cursive;
}
.container__menu--4 p {
  background: #1eb500;
  background: -moz-linear-gradient(left, #46dd00, #96dfac);
  background: -webkit-linear-gradient(left, #46dd00, #96dfac);
  background: linear-gradient(to right, #46dd00, #96dfac);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#ff9900", endColorstr="#7d5ea3",GradientType=1 );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.mentions-legales {
  color: black;
  font-size: 12px;
  text-align: justify;
}
.mentions-legales h1 {
  text-align: center;
}

.container__restaurant {
  width: 600px;
  margin-bottom: 150px;
  padding-top: 50px;
}
.container__restaurant h2,
.container__restaurant h3,
.container__restaurant h4 {
  text-align: center;
  align-items: center;
}
.container__restaurant h3 {
  margin-bottom: 40px;
}
.container__restaurant h2 {
  font-size: 3rem;
}
.container__restaurant h3 img {
  width: 25%;
  margin-left: 20px;
  margin-right: 20px;
}
.container__restaurant li {
  list-style-type: none;
  margin-top: 15px;
}
.container__restaurant li span {
  float: right;
  margin-right: 15px;
}
.container__restaurant--1 {
  box-shadow: 2px 2px 10px;
  background-color: #fcdfdb;
}
.container__restaurant--1 h2 {
  display: flex;
  flex-direction: column;
}
.container__restaurant--1 h2 img {
  width: 15%;
}
.container__restaurant--1 h4 img {
  width: 5%;
}
.container__restaurant--2 {
  box-shadow: 2px 2px 10px;
  background-color: #fff5fe;
}
.container__restaurant--2 h2 {
  font-size: 1.5rem;
  margin-bottom: 60px;
}
.container__restaurant--3 {
  box-shadow: 2px 2px 10px;
  background-color: #edefef;
}
.container__restaurant--3 h2 {
  margin-bottom: 60px;
}
.container__restaurant--4 {
  box-shadow: 2px 2px 10px;
  background-color: #fdfffd;
}
.container__restaurant--4 h2 {
  margin-bottom: 60px;
}

.contenumenu {
  margin-bottom: 60px;
}

h3 span {
  display: inline-block;
}
h3 span:hover:after {
  width: 100%;
}
h3 span:after {
  content: "";
  display: block;
  height: 3px;
  width: 0%;
  margin-bottom: 0;
  background-color: grey;
  transition: width;
  transition-duration: 1s;
}

.pied-page {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 700px;
  margin: auto;
  background-color: #579c87;
  display: flex;
  justify-content: space-between;
  padding: 12px;
}
.pied-page__content {
  text-decoration: none;
  color: #fdcb46;
}
.pied-page__content:hover {
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}

/*# sourceMappingURL=style.css.map */
