.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    &__menu {
        @include menu;
        &__carte {
            @include menu-carte;
        }
        }
    }
