.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    @include effetzoom;
    // attention webkit n'est pas conforme aux regle w3c
    &__menu {
        @include menu;
        & p {
            margin-top: 50%;
        }
        & a {
            text-decoration: none;
        }
        &--1 {
            background-color: #fcdfdb;
            font-family: "Indie Flower", cursive;

            & p {
                color: black;
                margin-top: 25%;
            }
        }
        &--2 {
            background-color: #fff5fe;
            font-family: "Amiri", serif;
            & p {
                @include color-degrad2;
            }
        }
        &--3 {
            background-color: #f9f9f9;
            font-family: "Italianno", cursive;
            & p {
                @include color-degrad3;
            }
        }
        &--4 {
            background-color: #fdfffd;
            font-family: "Caveat", cursive;
            & p {
                @include color-degrad4;
            }
        }
    }
}
.mentions-legales {
    color: black;
    font-size: 12px;
    text-align: justify;
    & h1 {
        text-align: center;
    }
}
.fas {
    background: -webkit-linear-gradient(rgb(245, 84, 66), rgb(245, 170, 66));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.container__restaurant {
    width: 600px;

    margin-bottom: 150px;
    padding-top: 50px;

    & h2,
    h3,
    h4 {
        text-align: center;
    }
    & h3 {
        margin-bottom: 40px;
    }
    & h2 {
        font-size: 3rem;
    }
    & h3 img {
        width: 25%;
        margin-left: 20px;
        margin-right: 20px;
    }
    & li {
        list-style-type: none;
        margin-top: 15px;
    }
    & li span {
        float: right;
        margin-right: 15px;
    }
    &--1 {
        box-shadow: 2px 2px 10px;
        background-color: #fcdfdb;
        & h2 {
            display: flex;
            flex-direction: column;
        }
    }
    &--2 {
        box-shadow: 2px 2px 10px;
        background-color: #fff5fe;
        & h2 {
            font-size: 1.5rem;
            margin-bottom: 60px;
        }
    }
    &--3 {
        box-shadow: 2px 2px 10px;
        background-color: #edefef;
        & h2 {
            margin-bottom: 60px;
        }
    }
    &--4 {
        box-shadow: 2px 2px 10px;
        background-color: #fdfffd;
        & h2 {
            margin-bottom: 60px;
        }
    }
}
.contenumenu {
    margin-bottom: 60px;
}
