.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    &__menu {
      @include menu;
        &__carte {
            @include menu-carte;
        }
    }
}
.mentions-legales {
    color: black;
    font-size: 12px;
    text-align: justify;
    & h1 {
        text-align: center;
    }
}