.pied-page {
    width: auto;
    position: fixed; bottom: 0; left: 0; right: 0;
    margin: auto;
    background-color: $colour-primary;
    display: flex;
    justify-content: space-between;
    padding: 12px;
    &__content {
        text-decoration: none;
        color: $colour-secondary;
        &:hover{
        animation: shake 0.5s;
        animation-iteration-count: infinite;
        }
    }
}
