.bloc_page {
    width: $global-size;
    margin: auto;
}
@media all and (min-width: 570px) and (max-width: 1024px) {
    .bloc_page {
        width: 100%;
    }
    .container{
        width: auto;
    }
    .container__restaurant {
        width: auto;
    }
    .titrecarte{
        display: none;
    }
    
}
@media screen and (max-width: 569px) {
    .bloc_page {
        display: flex;
        flex-direction: column;
        width: auto;
    }
    .container__restaurant{
        & h3 img{
            display: none;
        }
        & li span{
            text-align: right;
        }
    }
    .mentions-legales{
        margin-bottom: 100px;
    }
    
}
@media screen and (min-width: 1025px) {
    .container{
        width: 700px;
        margin: auto;
    }
    
}