@import url('https://fonts.googleapis.com/css2?family=Italianno&family=Raleway:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Croissant+One&family=Dancing+Script&family=Devonshire&family=Kaushan+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');


body {
    font-family: 'Raleway', sans-serif;
    color: $colour-secondary;
    font-size: 2rem;
    font-weight: 100;
    line-height: 1.7;
}
.haut-page__titre h1{
    font-size: 2rem;
    font-weight: bold;
}
textarea {
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    font-size: 2rem;
}

button {
    font-family: 'Raleway', sans-serif;
    font-weight: 900;
    font-style: italic;
    font-size: 2.75rem;
}
.pied-page {
    font-size: 1.5rem;
}
.container__menu{
    &--1 {
        font-family: 'Devonshire', cursive;
        font-size: 1rem;
        
        & h3{
            font-family: 'Caveat', cursive;
        }
        
    }
    &--2 {
        font-family: 'Croissant One', cursive;
        font-size: 1rem;
        & h3{
            font-family: 'Roboto Slab', serif;
        }
    }
    &--3{
            font-family: 'Dancing Script', cursive;
            font-size: 1rem;
            & h3{
                font-family: 'Caveat', cursive;
            }
        }
    &--4{
            font-family: 'Kaushan Script', cursive;
            font-size: 1rem;
            & h3{
                font-family: 'Caveat', cursive;
            }
        }
    }
    


