@mixin button {
        
        width:300px;
        line-height:50px;
        text-align:center;
        vertical-align:middle;
        border-radius: 8px;
        background-color: $colour-primary;
        text-decoration: none;
        color: $colour-secondary;
        
}
// a supprimer

@mixin image-index{
img{
        max-width: 100%;
        max-height: 100%;
        box-shadow: 5px 5px 20px #ededed;
    }
}
@mixin image-menu{
        img{
                max-width: 80%;
                max-height: 80%;
                box-shadow: 5px 5px 20px #ededed;
                margin-bottom: 100px;
            }
        }

@mixin menu {
        width: 250px;
        
        @include image-index
}

@mixin menu-carte {
        font-size: 20px;
        text-align: center;
        color: black;
        @include image-menu;
        }